<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Email</th>
      <th>Roles</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.nom %></td>
        <td><%= user.prenom %></td>
        <td><%= user.email %></td>
        <td><%= user.roles_as_text %></td>
        <td><%= link_to 'Show', user %></td>
        <% if (can? :manage, user) %>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <% if current_user.has_role?(:admin) %>
            <td><%= link_to 'Edit Rôles', edit_roles_user_path(user) %></td>
          <% end %>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
