<%= form_for(@vehicul) do |f| %>
  <% if @vehicul.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicul.errors.count, "error") %> prohibited this vehicul from being saved:</h2>

      <ul>
      <% @vehicul.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :brand %><br>
    <%= f.text_field :brand %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :km %><br>
    <%= f.text_field :km %>
  </div>
  <div class="field" style="display: none;">
    <%= f.label :user_id %><br>
    <%= f.hidden_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
